body{
    font-family:'Lobster', cursive;
    font-size:2rem;
    line-height:2 ;
}


.mg-h1 {
    background-image: url(img/business.jpeg);
    background-size: 100% 100%;
    text-align:center;
    padding-top:25rem;
    padding-bottom:25rem;
    height: auto;
    width: auto;
}

.pd-h{
    font-size:100px;
}

.mg-body{
    padding-top:5rem;
    padding-bottom:2rem;
    padding-right:20px;
    padding-left:20px;
    background:linear-gradient(65deg,white, grey);
}

.box1{
    background-color:White;
    border-color:black;
    border-width: 5px;
    border-radius:2px;
    padding: 0px 5px;
}
.size {
    width:100px;
    padding-right:1rem;
}

.head-main{
    text-align:center;
    background-color:#a358e0;
    color:white;
    border-radius: 5px;
    margin-bottom:0px;

}

.head {
    background-color:#a358e0;
    color:white;
    border-radius: 5px;
    padding-left:20px;

}

.width{
    width:100%;
    padding-bottom:4rem;
    text-align:center;
}

.color{
    font-size:1rem;
    text-align:center;
    background-color: blue;
}


.pic-bg{
    background-color:#0ABAF4;
    padding: 10px;
}

.ending{
    font-size:3rem;
}

.context-bg{
    background-color: #2fa7cc;
}