body{
    font-family:'Lobster', cursive;
    background-color: #70DCE7;
    font-size:2rem;
    line-height:2 ;
}


.mg-h1 {
    background-image: url(img/business.jpeg);
    background-size: cover;
    text-align:center;
    padding-top:25rem;
    padding-bottom:25rem;
    height: auto;
    width: auto;
}

.pd-h{
    font-size:100px;
}

.mg-body{
    padding-top:5rem;
    padding-bottom:5rem;
    padding-right:20px;
    padding-left:20px;
    background:linear-gradient(65deg,white, grey);
}


.size {
    width:100px;
    padding-right:1rem;
}

.head-main{
    text-align:center;
    background-color:black;
    color:white;
    border-radius: 5px;
    margin-bottom:0px;

}

.head {
    background-color:black;
    color:white;
    border-radius: 5px;
    padding-left:20px;

}

.width{
    width:100%;
    padding-bottom:4rem;
}

.cs{
    font-size:1rem;
    text-align:center;
}


.pic-bg{
    background-color:#0ABAF4;
    padding: 10px;
}